.details {
        position: relative;
        display: grid;
        grid-template-rows: 1fr 4fr 1fr;
        gap: 2px;
        border-radius: 2px;
        width: 14rem;
        /* height: 15rem; */
        margin: auto;
        clip-path: polygon(3% 0, 100% 0%, 100% 100%, 3% 100%, 3% 53%, 0 50%, 3% 47%);
        background-color: #000000;
        z-index: 10;
}

.details__header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: .95rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        box-shadow: 1px 0px 2px 0 black;
        height: 3rem;
}

.details__body {
        background-color: #3600fa;
        
}

.details__options {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 3rem;
}

.details__options button {
        font-size: .75rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 85px;
        padding: 5px 4px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-weight: normal;
        transition: .3s background;
}

.details__options button:first-child {
        background-color: #ffe600;
}

.details__options button:last-child {
        background-color: #00c3ff;
}

.details__options button:first-child:hover {
        background-color: #ffef5f;
}

.details__options button:last-child:hover {
        background-color: #67dbff;
}

.details::before {
        position: absolute;
        z-index: -10;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        filter: blur(1px);
}