body {
        margin: 0;

        font-family: "Inconsolata", monospace, sans-serif;
        background-color: #fff;

}

.planes {
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        background-color: #110041;
        border-radius: 10px;
        box-shadow: 0 0 6px 3px #aaaaaad0;
}

.planes__header {
        padding: 20px 0;
        color: #e6e6e6;
}

.planes__title {
        text-align: center;
        font-size: 1.7rem;
}

.planes__content {
        display: flex;
        gap: 20px;
        padding: 0 20px;
        flex-wrap: wrap;
        justify-content: center;
}

.planes__item {
        background-color: #fff;
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        padding: 10px;
        min-width: 400px;
        max-width: 500px;
}

.planes__item:hover {
        box-shadow: 0 0 10px 2px #00b7ffa4;
}

.planes__item-header .planes__item-title {
        font-size: 1rem;
}

.planes__item-content {
        font-size: .80rem;
}

.planes__item-description {
        padding: 10px 0;
        border-bottom: 1px solid #110041;
}

.planes__item-caracteristicas {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        line-height: 20px;
        gap: 10px;
        position: relative;
}

.planes__item-caracteristicas>span {
        position: relative;
}

.planes__item-caracteristicas>span::before {
        position: absolute;
        top: 0;
        left: -15px;
        content: '•';
        font-size: 1.5rem;
}

.planes__item-options {}

.planes__item-option {
        font-family: "Inconsolata", monospace, sans-serif;
        background: #00b7ff;
        margin-top: 10px;
        padding: 6px 20px;
        border-radius: 5px;
        font-size: .80em;
        outline: none;
        border: none;
        cursor: pointer;
        transition: .3s;
        font-weight: bold;
        position: relative;
        transition: background .3s, box-shadow .3s, transform .3s ease-in-out;

}

.planes__item-option:hover {
        background: #00b7ffa4;
        box-shadow: 0 0 5px 0px #777777d0;
        transform: translateY(-3px);
}