/* General */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background: var(--black1);
}
:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
    --black1:#13161c;
    --greenbajo:#7ed321;

}

.container {
    display: flex;
    height: 100vh; /* Mantener todo el contenido dentro de la altura visible */
    overflow: hidden; /* Evitar que se desborde el contenido */
}

/* Aside izquierdo */
.aside-left {
    width: 100px; /* Ancho inicial del aside */
    background: #2c3e50;
    height: 100vh;
    transition: width 0.3s ease; /* Suaviza la transición del ancho */
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 200; /* Asegura que el aside esté encima del nav */
    display: flex;
    flex-direction: column; /* Alinear los elementos en columna */
    justify-content: flex-start; /* Los elementos empiezan desde la parte superior */
    align-items: center; /* Centra los elementos horizontalmente */
}

.aside-left.expanded {
    width: 200px; /* Ancho del aside cuando está expandido */
}

/* Contenedor del logo */
.aside-left .logo {
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar el logo horizontalmente */
    align-items: center; /* Centrar el logo verticalmente */
    height: 100px; /* Mantener una altura fija para el logo */
    width: 100%; /* Ocupa todo el ancho del aside */
    background-color: transparent;
}

/* Imagen del logo */
.logo-img {
    width: 80%; /* El logo ocupa el 80% del contenedor */
    height: auto;
    max-width: 80px; /* Limita el tamaño máximo del logo */
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

.aside-left.expanded .logo-img {
    max-width: 120px; /* Aumenta el tamaño del logo cuando el aside está expandido */
}

/* Estilo del nav-toggler */
.aside-left .nav-toggler {
    position: absolute; /* Mantiene el botón en una posición fija */
    top: 10px; /* Posicionado cerca del borde superior */
    right: 10px; /* Alineado a la derecha del aside */
    cursor: pointer;
    text-align: right;
}

.aside-left .nav-toggler span {
    font-size: 20px;
    color: #ffffff;
}

/* Navegación */
.aside-left .nav {
    list-style-type: none; /* Elimina los marcadores predeterminados de la lista */
    padding: 0;
    margin: 0;
    width: 100%; /* La navegación ocupa todo el ancho del aside */
}

.aside-left .nav li {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.aside-left .nav li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* El enlace ocupa todo el ancho del contenedor */
    transition: padding-left 0.3s ease;
}

.aside-left .nav li a:hover {
    padding-left: 20px; /* Añade desplazamiento al hacer hover */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente en hover */
}
.Usuario_1{
    color:white;
}

/* Contenido principal */
.main-content {
    padding: 20px;
    margin-left: 100px;

    flex-grow: 1;
    height: 100vh; /* Ocupar toda la altura del viewport */
    overflow-y: hidden; /* Evitar desbordamiento en el contenido principal */
}


/* Anuncios */
.row {
    display: flex;
    align-items: flex-start; /* Alinea la imagen y el texto al inicio */
    background: #f0edfb;
    border-radius: 10px;
}

.row img {
    height: 125px;
    width: 300px;
    margin-right: 20px; /* Añade un espacio entre la imagen y el texto */
    border-radius: 10px 0px 00px 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-container h2 {
    margin: 0;
    font-size: 1.8em; /* Ajusta el tamaño del título */
    color:#007bff;
}

.text-container h5 {
    margin-top: 6px; /* Ajusta el margen superior para separar el texto del título */
    color: #858489; 
    font-size: .875rem;
    line-height: 1.25rem;
    letter-spacing: -.02em;
    padding-right: 200px;
    font-weight: lighter;
}


/* Aside derecho */
.aside-right {
    width: 300px;
    background-color: transparent;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}
/* NAVBAR */
.inicio {
    margin-left: 100px;
    margin-top: 0px;
}

/* Ajuste del nav */
nav {
    background: var(--black1);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 150; /* Asegura que el nav esté debajo del aside */
    color: var(--grey);
}


nav .toggle-sidebar {
	font-size: 18px;
	cursor: pointer;
}
nav form {
	max-width: 600px;
	width: 100%;
	margin-right: auto;
    margin-left: 200px;
}
nav .form-group {
	position: relative;
}
nav .form-group input {
	width: 100%;
	background: #0d0f14;
	border-radius: 10px;
	border: 0.1px solid var(--grey);
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
    color: #f2f2f2;
}
nav .form-group input:hover{
    border: 1px solid var(--blue);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}
nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
    color: #f2f2f2;
}
nav .nav-link {
	position: relative;
    font-size: 17px;
    text-decoration: none;
    color: var(--grey);
}

#StreakTrigger {
    background-color: transparent; /* Sin color de fondo */
    border: none; /* Sin borde inicialmente */
    border-radius: 0; /* Sin bordes redondeados inicialmente */
    padding: 5px 10px; /* Botón pequeño */
    font-size: 14px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    display: flex; /* Alinear el contenido */
    align-items: center; /* Centrar verticalmente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: all 0.3s ease; /* Suaviza la transición en hover */
}

#StreakTrigger:hover {
    border-radius: 20px; /* Borde redondeado semi-ovalado al hacer hover */
    border: 2px solid var(--blue); /* Aparece el borde al hacer hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave al hacer hover */
}

.StreakTrigger-module_StreakTrigger__rocket__fxZTh svg {
    margin-right: 5px; /* Espaciado entre el icono y el texto */
    fill: #D5AB00; /* Color del icono */
    width: 25px; /* Icono más grande */
    height: 25px; /* Icono más grande */
}

.StreakTrigger-module_StreakTrigger__counter__zADXa {
    background-color: transparent; /* Sin fondo en el contador */
    border-radius: 50%; /* Hacer el contador circular */
    padding: 3px 6px; /* Tamaño más pequeño del contador */
    color: var(--blue); /* Color del texto del contador */
    font-weight: bold; /* Negrita en el número */
    margin-left: 5px; /* Espaciado entre el número y el texto */
}
nav .divider {
	width: 1px;
	background: var(--grey);
	height: 12px;
	display: block;
}
nav .profile {
	position: relative;
}
nav .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
nav .profile .profile-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: var(--black1);
    border: 1px solid var(--grey);
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 280px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
.info{
    width: 100%;
}
.info h4{
    margin-left: 17px;
}
.info button{
    width: 60%;
    text-align:left ;
    background: transparent;
    color: var(--grey);
    border: none;
    cursor: pointer;
    justify-content: center;
    margin-left: 17px;
    
}
.info .Separador{
    margin-top: 6px;
    height: 1px;
    background: #e0e0e0 ;
    width:  100%;
}
nav .profile .profile-link li{
    list-style: none;
}
nav .profile .profile-link.show {
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}
nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: var(--grey);
	align-items: center;
	transition: all .3s ease;
     text-decoration: none;
}
nav .profile .profile-link a:hover {
	background: var(--grey);
}
/* NAVBAR */

/*Aside de usuario*/
/* Estilos para el perfil */

.popover-arrow {
    display: none; /* Oculto inicialmente */
    position: absolute;
    top: -10px; /* Posiciona la flecha fuera del menú */
    left: 50%; /* Centrar la flecha */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333; /* Color azul brillante para la flecha */
    z-index: 101;

}

/* Ajuste para el carrusel */

/* Carousel */
/* Estructura principal */
.main-content {
   
    justify-content: space-between; /* Separa el contenido principal y el aside */
}
.barrasDesplegables{
    display: flex;
}
/* Aside de usuario */
.aside-right {
    width: 280px; /* Reducido un poco para que no ocupe demasiado espacio */
    margin-left: 20px; /* Separación del contenido principal */
    position: sticky;
    top: 0; /* Mantener el aside visible cuando se hace scroll */
}

/* Ajuste para el carrusel */
.carousel {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    height: auto;
    position: relative;
}

.testimonial {
    display: none;
    text-align: center;
}

.testimonial.active {
    display: block;
}

.carousel .testimonial {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    display: none; /* Oculto por defecto */
}

.carousel .testimonial.active {
    display: block; /* Solo mostrar el testimonio activo */
}

.carousel .testimonial strong {
    font-weight: 800;
    color: #000;
}

.carousel .testimonial p {
    color: #333;
    font-weight: lighter;
}

.carousel .testimonial img {
    height: 50px; /* Tamaño de la imagen en los testimonios */
    border-radius: 50%; /* Imagen redonda */
    margin-bottom: 10px;
}

.carousel-dots {
    text-align: center;
    margin-top: 15px;
}

.carousel-dots .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.carousel-dots .dot.active {
    background-color: #007bff;
}

.carousel .testimonial:hover {
    transform: scale(1.02); /* Efecto de zoom al hacer hover */
    transition: transform 0.3s ease;
}


/* Cohort Container */
.cohort-container {
    display: none; /* Oculto por defecto */
}

