.body {
        overflow: hidden;
}

.body__content {
        box-sizing: border-box;
        grid-area: body;
        height: 100%;
}

@media (width < 600px) {
        .body__content {
                overflow: inhPerit;
                height: auto;
                min-height: 67vh;
        }
}