<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina web Guimarcito</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="Style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>
  <body>
    <!--NAVAR ENCABEZADO DE LA WEB-->
    <nav>
      <div class="Icon"><b style="color: blue">Guima</b>rcito</div>
      <div class="search_box">
        <input type="search" placeholder="Busque tus cursos" />
        <span class="fa fa-search"></span>
      </div>
      <ol>
        <li><a href="#carouselExampleIndicators">Inicio</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Cursos</a></li>
        <li>
          <a class="boton-menu boton-carrito" href="V_Carrito/V_Carrito.html">
              <i class="bi bi-cart-fill"></i><span id="numerito" class="numerito">0</span>
          </a>
        </li>
        <li><a href="/View/autentificacion/login.html" class="Cuadro-ingreso">Ingresar</a></li>
        <li><a href="/View/autentificacion/signup.html" class="Cuadro-ingreso">Registrarse</a></li>
        <button id="logout">Logout</button>
      </ol>
    </nav>

    <!--CARUCEL DE IMAGENES INFO DE ACADEMIA-->
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active d-item">
          <img
            src="imagenes/logo.jpg"
            class="d-block w-100 d-img"
            alt="slider 1"
          />
          <div class="carousel-caption top-0 mt-4">
            <p class="mt-5 fs-3 text-uppercase">
              Empieza a estudiar con nosotros
            </p>
            <h1 class="display-1 fw-bolder text-capitalize">
              Guimarbot Estudia
            </h1>
            <button class="btn btn-primary px-4 py-2 fs-5 mt-5">
              Inscribirse
            </button>
          </div>
        </div>
        <div class="carousel-item d-item">
          <img
            src="imagenes/dos.jpg"
            class="d-block w-100 d-img"
            alt="slider 1"
          />
          <div class="carousel-caption top-0 mt-4">
            <p class="mt-5 fs-3 text-uppercase">
              Empieza a estudiar con nosotros
            </p>
            <h1 class="display-1 fw-bolder text-capitalize">
              Guimarbot Estudia
            </h1>
            <button class="btn btn-primary px-4 py-2 fs-5 mt-5">
              Inscribirse
            </button>
          </div>
        </div>
        <div class="carousel-item d-item">
          <img
            src="imagenes/somosb.jpg"
            class="d-block w-100 d-img"
            alt="slider 1"
          />
          <div class="carousel-caption top-0 mt-4">
            <p class="mt-5 fs-3 text-uppercase">
              Empieza a estudiar con nosotros
            </p>
            <h1 class="display-1 fw-bolder text-capitalize">
              Guimarbot Estudia
            </h1>
            <button class="btn btn-primary px-4 py-2 fs-5 mt-5">
              Inscribirse
            </button>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <!-- Caja de contenido adicional -->
      <div class="content-box">
        <h1 class="ud-heading-serif-xxl">
          Un mundo de aprendizaje desde solo 49,90&nbsp;S/
        </h1>
        <p class="ud-text-md">
          Amplía tus horizontes gracias a un aprendizaje internacional. Ahorra
          ya hasta el 19 de septiembre.
        </p>
      </div>
    </div>
    <!--PIE DE PAGINA DESPLEGABLES-->
    <div class="cabezado">
      <ol>
        <li><a href="#">Informacion</a></li>
        <li><a href="#">Informacion</a></li>
        <li><a href="#">Informacion</a></li>
        <li><a href="#">Informacion</a></li>
        <li><a href="#">Informacion</a></li>
        <li><a href="#">Informacion</a></li>
        <li><a href="#">Informacion</a></li>
        <li><a href="#">Informacion</a></li>
        <li><a href="#">Informacion</a></li>
      </ol>
    </div>
    <header>
      <div class="header-container">
        <div class="logo-title">
          <img
            src="imagenes/academia.jpeg"
            alt="Logo Curso"
            class="logo rounded-left-image"
          />
          <div>
            <h1>Curso Gratis de Programación Básica</h1>
          </div>
        </div>
        <div class="header-content">
          <div class="description">
            <div class="rating">
              <span>⭐⭐⭐⭐⭐</span>
              <span>3128 Opiniones</span>
              <span class="level-box">BÁSICO</span>
            </div>
            <p class="last-update">
              Última actualización el 19 de junio de 2024
            </p>
            <p>
              Programa desde cero, domina Javascript, entiende HTML y aprende de
              algoritmos. Sí, desde cero. Entenderás la lógica del código, cómo
              piensan las programadoras expertas y cómo programar un videojuego
              web de principio a fin. Aprender a programar no es fácil, pero
              Gimarbot lo hace efectivo. Con Gimarbot, te sumergirás en un
              aprendizaje práctico y estructurado, que te permitirá desarrollar
              habilidades sólidas y aplicables en el mundo real. No solo
              aprenderás los fundamentos, sino que también explorarás técnicas
              avanzadas y mejores prácticas que te convertirán en un experto en
              desarrollo web. ¡Prepárate para transformar tus ideas en realidad
              con Gimarbot!
            </p>
            <div class="register">
              <h1>Regístrate para tomar este curso</h1>
            </div>
            <div class="email-signup">
              <input type="email" placeholder="Ingresa tu email" />
              <button class="start-btn">COMIENZA AHORA</button>
            </div>
            <div class="mensajito">
              <p class="terms">
                Al ingresar aceptas <a href="#">Términos de Servicio</a> y
                <a href="#">Políticas de Privacidad</a>
              </p>
            </div>
          </div>
          <div class="header-right">
            <img
              src="imagenes/referencia.jpg"
              alt="Imagen del curso"
              class="header-image"
            />
            <div
              class="certificate-box"
              style="background-image: url('imagenes/certificado.jpg')"
            >
              <h2>Certificación disponible</h2>
              <p>
                Las certificaciones reconocidas por la industria lo ayudan a
                destacarse y demostrar sus habilidades. Prepárese para la
                certificación completando esta pista.
              </p>
              <input type="text" placeholder="Más información" />
            </div>
          </div>
        </div>
      </div>
    </header>
<!--SECION DE CURSOS DE PRUEBA-->
    <section class="course-outline">
      <div class="content-container">
        <h2>Temario y recursos del Curso Gratis de Programación Básica</h2>
        <div class="course-info-and-topics">
          <div class="course-details">
            <p>
              <img src="imagenes/reloj.png" alt="Reloj" class="icon" />
              <strong>15 Horas</strong> de contenido
            </p>
            <p>
              <img
                src="imagenes/mejores-practicas.png"
                alt="Mejores prácticas"
                class="icon"
              />
              <strong>14 Horas</strong> de práctica
            </p>

            <!-- Línea separadora arriba de "Conocimientos previos" -->
            <hr class="separation-line" />

            <p><strong>Conocimientos previos:</strong></p>

            <!-- Añadir el icono de punto verde junto a "Ninguno" -->
            <p>
              <img
                src="imagenes/punto-verde.png"
                alt="Punto Verde"
                class="icon"
              />
              <strong>Ninguno</strong>
            </p>

            <!-- Añadir el icono de punto verde junto a "Computadora con Windows, macOS o Linux" -->
            <p>
              <img
                src="imagenes/punto-verde.png"
                alt="Punto Verde"
                class="icon"
              />
              <strong>Computadora con Windows, macOS o Linux</strong>
            </p>
          </div>
          <div class="course-topics-section">
            <h1>Fundamentos de Programación</h1>
            <div class="course-topics">
              <div class="topic">
                <img
                  src="imagenes/fundamentos.jpg"
                  alt="text "
                  class="video-thumbnail"
                />
                <div class="topic-details">
                  <h3>holis</h3>
                  <p>
                    <strong>Bienvenida a Platzi:</strong> ¿Qué necesitas para
                    tomar el curso?
                  </p>
                  <p>Duración: 00:51 min</p>
                </div>
              </div>
              <div class="topic">
                <img
                  src="imagenes/aprender.jpg"
                  alt="Cómo aprender programación"
                  class="video-thumbnail"
                />
                <div class="topic-details">
                  <h3>¿Cómo aprender programación?</h3>
                  <p>Duración: 08:12 min</p>
                </div>
              </div>
              <div class="topic">
                <img
                  src="imagenes/sitio_web.jpg"
                  alt="Crea tu primer sitio web"
                  class="video-thumbnail"
                />
                <div class="topic-details">
                  <h3>Crea tu primer sitio web</h3>
                  <p>Duración: 06:40 min</p>
                </div>
              </div>
              <div class="topic">
                <img
                  src="imagenes/html.jpg"
                  alt="Sitios web con HTML"
                  class="video-thumbnail"
                />
                <div class="topic-details">
                  <h3>Sitios web con HTML</h3>
                  <p>Duración: 05:15 min</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--/*INFORMACION SOBRE LOS TEMAS POR CATEGORIA*/-->
<section class="Categorias">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2>Categorías</h2>
              <div class="row">
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <h6><i class="fas fa-laptop-code"></i> Development</h6>
                      </div>
                  </div>
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <h6><i class="fas fa-microchip"></i> Tecnologia</h6>
                      </div>
                  </div>
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <h6><i class="fas fa-code"></i> Software</h6>
                      </div>
                  </div>
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <h6><i class="fas fa-paint-brush"></i> Diseño</h6>
                      </div>
                  </div>
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <a href="" class="contenerdor-links"><i class="fab fa-java"></i> Java</a>
                      </div>
                  </div>
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <a href="" class="contenerdor-links"><i class="fab fa-python"></i> Python</a>
                      </div>
                  </div>
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <a href="" class="contenerdor-links"><i class="fas fa-database"></i> SQL Server</a>
                      </div>
                  </div>
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <a href="" class="contenerdor-links"><i class="fab fa-html5"></i> HTML</a>
                      </div>
                  </div>
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <a href="" class="contenerdor-links Javascrip"><i class="fab fa-js-square"></i> JavaScript</a>
                      </div>
                  </div>
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <a href="" class="contenerdor-links"><i class="fab fa-linux"></i> Kali Linux</a>
                      </div>
                  </div>
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <a href="" class="contenerdor-links"><i class="fab fa-css3-alt"></i> CSS</a>
                      </div>
                  </div>
                  <div class="col-md-3 p-2">
                      <div class="category-box">
                          <a href="" class="contenerdor-links"><i class="fas fa-database"></i> Mongo DB</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<!--SECCION DE CONTACTOS -->
<section class="contact section" id="contact">
  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>Contactanos aqui!</h2>
      </div>
    </div>
    <h3 class="contact-title">¿Tiene alguna pregunta? </h3>
    <h4 class="contact-sub-title">ESTOY A SUS SERVICIOS</h4>
    <div class="row">
      <!-- Contact info start -->
      <div class="contact-info-item padd-15">
        <div class="icon">
          <i class="fa fa-phone"></i>
        </div>
        <h4>  Llámanos al</h4>
        <p>+51 953 803 581</p>
      </div>
      <!-- Contatc info End -->
      <!-- Contact info start -->
      <div class="contact-info-item padd-15">
        <div class="icon">
          <i class="fa fa-map-marker-alt"></i>
        </div>
        <h4> Oficina</h4>
        <p>Peruana</p>
      </div>
      <!-- Contatc info End -->
      <!-- Contact info start -->
      <div class="contact-info-item padd-15">
        <div class="icon">
          <i class="fa fa-envelope"></i>
        </div>
        <h4>Email</h4>
        <p>elvisvegaucv@gmail.com</p>
      </div>
      <!-- Contatc info End -->
      <!-- Contact info start -->
      <div class="contact-info-item padd-15">
        <div class="icon">
          <i class="fa fa-globe-europe"></i>
        </div>
        <h4>Sitio web</h4>
        <p>www.domain.com</p>
      </div>
      <!-- Contatc info End -->
    </div>
    <h3 class="contact-title padd-15">ENVIANOS UN CORREO ELECTRÓNICO</h3>
    <h4 class="contact-sub-title padd-15">RESPONDEREMOS A SU CONSULTA</h4>
    <!-- Contact Form  -->
    <div class="row">
      <div class="contact-form padd-15">
        <div class="row">
          <div class="form-item col-6 padd-15">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="form-item col-6 padd-15">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-item col-12 padd-15">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Subject">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-item col-12 padd-15">
            <div class="form-group">
              <textarea name="" class="form-control" id="" placeholder="Message"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-item col-12 padd-15">
            <button type="submit" class="btn"> Enviar Mensaje</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
