*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.data-entry {
    padding: 50px;
    background-color: #f9f9f9; /* Fondo claro para resaltar el formulario */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.data-entry h2 {
    text-align: center;
    margin-bottom: 20px;
}

.data-form {
    display: flex;
    flex-direction: column;
}

.data-form label {
    margin: 10px 0 5px;
}

.data-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.data-form .btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.data-form .btn:hover {
    background-color: #0056b3;
}

.plan-details {
    margin-top: 20px;
    background-color: white; /* Fondo blanco para la sección del plan */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plan-details h3 {
    color: #333; /* Color para el título del plan */
}

.coupon {
    margin: 15px 0;
}

.coupon input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
