* {
        font-family: "Inconsolata", monospace, sans-serif;
}

body {
        height: 100vh;
        margin: 0;
        display: flex;
}

.header {
        background-color: #0C0A20;
        color: #daffff;
        box-shadow: 3px 0px 20px 0 #000a2bcc;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;

}

.header__logo {
        background-color: #fff;
        display: flex;
        justify-content: center;
        padding: 20px 0;
}

.header__logo>img {
        width: 130px;
        padding: 0 40px;
}

.header__name {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        font-size: 2rem;
        text-align: center;
}

.datos-container {
        justify-content: center;
        display: flex;
        align-items: center;
        flex: 7;
}

.datos-form-container {
        background-color: #76F9F8;
        box-shadow: 0 0 10px 0 #000a2bcc;
        padding: 10px 20px;
}

.datos-form-container__descripcion {}

.datos-form {
        width: 380px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        padding: 20px 30px;
        gap: 20px;
        height: 36vh;
}

.datos-form__label {
        line-height: 35px;
        font-size: 1.2rem;
        font-weight: bold;
}

.datos-form__inputs {
        display: grid;
        gap: 20px;
}

.datos-form__input {
        font-size: 13px;
        padding: 3px 10px;
        height: 25px;
        border: none;
        outline: none;
}

.datos-form__input:focus {
        box-shadow: 0 0 10px 0 #cacacacc;
}

.datos-form__submit {
        margin: auto;
        font-size: .95rem;
        width: 80%;
        height: 35px;
        border-radius: 5px;
        background: #ffffff;
        border: none;
}

.informacion-plan {
        background-color: #0C0A20;
        color: #d0f8ff;
        height: 36vh;
        padding: 10px 30px;
        overflow: hidden;
}

.informacion-plan__item {}

.informacion-plan__titulo {}

.informacion-plan__precio {}

.informacion-plan__caracteristicas {
        display: flex;
        flex-direction: column;
        line-height: 25px;
}