.carousel-inner {
    position: relative;
  }
  
  .content-box {
    position: absolute;
    top: 50%; /* Posición centrada verticalmente */
    left: 20px; /* Ajusta la posición izquierda según necesites */
    width: 300px; /* Ajusta el ancho según necesites */
    background-color: white; /* Ajusta el color de fondo según necesites */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd; /* Ajusta el borde según necesites */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ajusta la sombra según necesites */
    transform: translateY(-50%); /* Ajusta la posición para centrar verticalmente */
    z-index: 10; /* Asegúrate de que esté encima del carrusel */
  }
  
  .ud-heading-serif-xxl {
    font-size: 24px; /* Ajusta el tamaño de fuente según necesites */
    margin: 0 0 10px 0;
    text-align: center;
  }
  
  .ud-text-md {
    font-size: 16px; /* Ajusta el tamaño de fuente según necesites */
    text-align: center;
    margin: 0;
  }
/*Pie de pagina*/  
footer{
    background-color: #000;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3{
    font-size: 48px;
}

footer .right{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links{
    display: flex;
    gap: 30px;
}

footer .right .links a{
    color: #989898;
    transition: color 0.3s ease;
}

footer .right .links a:hover{
    color: #fff;
}

footer .right .social{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social i{
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .right .social i:hover{
    color: #304ffe;
}

footer .right p{
    font-size: 13px;
    color: #777;
}
footer{
    padding: 40px 20px;
}
footer{
    flex-direction: column;
    padding: 60px 40px;
}

footer h3{
    margin-bottom: 40px;
    font-size: 32px;
}

footer .right{
    width: 100%;
    align-items:center;
}
footer .links a{
    font-size: 15px;
}
/*REDERIGIMIENTO */
.cabezado{
    display: flex;
    width: 100%;
    background-color: #172554;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    z-index: 1010;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
    font-family: sans-serif;
}

.cabezado ol li a{
    color:#fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 2px 10px;
}
.cabezado ol li a:hover{
    color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
}
.cabezado ol{
    display: flex;
    list-style: none;
    margin: auto 0;

}


/*SECCION DE DISEÑO DE CURSOS PARA LA ACADEMIA*/

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ensure logo is on the left */
}

.logo {
    width: 100px;
    margin-right: 20px;
}

.rounded-left-image {
    border-radius: 15px; /* Add rounded corners */
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.last-update {
    margin-top: 5px;
}

/* Styling for BÁSICO level box */
.level-box {
    padding: 5px 10px;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    background-color: yellow;
    font-weight: bold;
    box-shadow: 
    0 2px 4px rgba(240, 236, 13, 0.4),  /* sombra pequeña con mayor opacidad */
    0 4px 12px rgba(240, 227, 55, 0.8); /* sombra grande con menor opacidad */
  }

/* Main Layout */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 1.3rem;
}

.description {
    flex: 1;
    margin-right: 150px;
}

.register {
    margin-top: 10px;
    text-align: left;
    font-size: 0.8rem;
}

.header-right {
    font-size: 0.4rem;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
}

.header-image {
    width: 120%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.certificate-box {
    width: 110%;
    padding: 30px;
    color: #ffffff;
    text-align: left;
    background-size: cover; /* Use background image */
    max-width: 2000px;
    font-size: 1rem;
    border-radius: 10px;
}

.certificate-box input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

/* Email Signup */
.email-signup {
    display: flex;
    justify-content: left;
    margin-top: 10px;
}

.email-signup input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #0009;
    background-color: #f2f2f2;
    margin-right: 10px;
}

.start-btn {
    background-color: #06f93f;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
    font-weight: bold;
}

.start-btn:hover {
    background-color: #e65c00;
}

/* Terms & Privacy links */
.terms a {
    color: #00bfff; /* Light blue color for links */
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}

.mensajito {
    text-align: left;
    font-size: 1rem;
}


/* Sección del temario */
.course-outline {
    padding: 30px 0;
    color: #000;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.course-info-and-topics {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.course-details {
    font-size: 1.2rem;
    flex: 1;
}

.course-details p {
    display: flex;
    align-items: center; /* Alinea el texto y el ícono verticalmente */
    margin: 10px 0; /* Agrega espacio entre los párrafos */
}

.course-details .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

/* Línea separadora */
.separation-line {
    border: none; /* Sin borde por defecto */
    border-top: 1px solid white; /* Línea separadora */
    margin: 15px 0; /* Margen para espaciar bien la línea */
}

/* Alineación de los iconos y textos */
.course-details img {
    width: 15px;
    height: 15px;
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.course-topics-section {
    flex: 2;
    margin-left: 20px; /* Espacio entre los detalles del curso y los temas */
}

.course-topics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.topic {
    display: flex;
    background-color: #24355c;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.video-thumbnail {
    width: 80px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.topic-details h3 {
    font-size: 1.5rem;
    margin: 0 0 10px;
}

.topic-details p {
    font-size: 1.1rem;
    margin: 0;
}

/*ESTILO  DE LAS CATEGORIAS*/
/* Estilos para las cajas contenedoras */
section .category-box h6 .fas {
    color:red;
    transition: box-shadow 0.4s, font-size 0.4s;
}
section .category-box h6 .fas:hover{
    box-shadow: 
    0 2px 4px rgba(187, 23, 17, 0.4),  /* sombra pequeña con mayor opacidad */
    0 4px 12px rgba(173, 7, 7, 0.8); /* sombra grande con menor opacidad */
    background: none;
    font-size: 40px;
    transition: 0.4s;
}
section .category-box .contenerdor-links .fab{
    color:#1a2b49;
    font-size: 40px;
    transition: box-shadow 0.4s, font-size 0.4s;
}
section .category-box .contenerdor-links .fas{
    color:#1a2b49;
    font-size: 40px;
    transition: box-shadow 0.4s, font-size 0.4s;
}
section .category-box .contenerdor-links .fab:hover{
    color:#304ffe;
    font-size: 42px;
    transition: box-shadow 0.4s, font-size 0.4s;

}
section .category-box .contenerdor-links .fas:hover{
    color:#304ffe;
    font-size:42px;
    transition: box-shadow 0.4s, font-size 0.4s;
}



.category-box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.category-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.category-box h6 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.category-box i {
    margin-right: 8px;
}

.category-box a {
    text-decoration: none;
    color: inherit;
}

/* contac */
/**/
.contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title{
    color: var(--bg-text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item{
     flex: 0 0 25%;
     max-width: 25%;
     text-align: center;
     margin-bottom: 60px;
}
.contact .contact-info-item .icon{
    display: inline-block;
}
.contact .contact-info-item .icon .fa{
    color: var(--skin-color);
    font-size: 25px;
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--bg-text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--bg-text-black-700);
    font-weight: 400;
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;

}
.contact .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item{
    margin-bottom: 30px;

}
.contact .contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--bg-text-black-700);
    transition: all .3s ease;
}
.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48 , 46,77,.15);
}
.contact .contact-form .form-item textarea.form-control{
    height: 140px;

}
.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
} 

